html, body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background: #FFF;
}

body {
    display: flex;
    flex-direction: column;
    padding: 32px;
    margin-bottom: 32px;
}

p {
    font-size: 16px;
    font-weight: 400;
}

@media screen and (max-width: 767px) {
    p {
        font-size: 14px;
    }
}