html, body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background: #FFF;
}

body {
    display: flex;
    flex-direction: column;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#loading {
    margin: auto;
    width: 32px;
    height: 32px;
    animation: spin 2s linear infinite;
}

header {
    width: 100%;
    display: flex;
    padding: 16px 0;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    background: #FFF;
}

nav {
    display: flex;
    padding: 16px 32px;
    justify-content: flex-end;
    align-items: center;
    gap: 32px;
}

a {
    text-decoration: none;
    display: flex;
    user-select: none;
}

a:active {
    background-color: transparent;
}

.secondary-button {
    display: flex;
    padding: 16px 32px;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 16px;
    color: #BBB;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    transition: color 0.3s;
}

.secondary-button:hover {
    color: #555;
}

.main-button {
    display: flex;
    padding: 16px 32px;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 16px;
    background: #000;
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    transition: background 0.3s;
}

.div-short-link {
    display: flex;
    width: 200px;
    padding: 8px;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.div-short-link:not(.div-div-link):not(.div-link):hover h3{
    color: #000;
}

.div-short-link:not(.div-div-link):not(.div-link):hover .svg{
    stroke: #000;
}

.main-button:hover {
    background: #555;
}

#links-container {
    margin-top: 115px;
    min-height: calc(100vh - 179px);
    display: flex;
    padding: 32px 32px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
}

.div-div-link {
    justify-content: space-between;
    flex-wrap: wrap;
    display: flex;
    padding: 0;
    align-items: center;
    align-self: stretch;
    border-radius: 16px;
    border: 1.5px solid #F3F3F3;
}

.div-link {
    display: flex;
    padding: 8px 16px 8px 8px;
    align-items: center;
    gap: 8px;
    align-self: stretch;
}

.div-link h2 {
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.svg {
    height: 24px;
    width: 24px;
    stroke: #BBB;
    stroke-width: 1.5;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.div-div-link:hover {
    background: #F3F3F3;
}


h2 {
    margin: 0;
    color: #000;
    font-size: 16px;
    font-weight: 400;
}

h3 {
    margin: 0;
    color: #BBB;
    font-size: 16px;
    font-weight: 400;
}

.date {
    padding: 16px;
    color: #BBB;
    font-size: 16px;
    font-weight: 400;
}

.h3-secondary {
    margin: 0;
    color: #000;
    font-size: 16px;
    font-weight: 400;
}

.h3-center {
    height: calc(100vh - 179px);
    margin: 0 auto;
    display: flex;
    align-items: center;
    align-self: stretch;
    text-align: center;
    color: #BBB;
    font-size: 16px;
    font-weight: 400;
}

#errorNotification {
    display: none;
    position: fixed;
    width: 440px;
    padding: 16px 32px;
    flex-direction: column;
    align-items: center;
    align-content: center;
    text-align: center;
    border-radius: 16px;
    background: #FFF;
    border: 1.5px solid #FF3333;
    color: #FF3333;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    bottom: 16px;
    left: 50%;
    transform: translateX(-50%);
}

#successNotification {
    display: none;
    position: fixed;
    width: 440px;
    padding: 16px 32px;
    flex-direction: column;
    align-items: center;
    align-content: center;
    text-align: center;
    border-radius: 16px;
    background: #FFF;
    border: 1.5px solid #00BC40;
    color: #00BC40;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    bottom: 16px;
    left: 50%;
    transform: translateX(-50%);
}

@media screen and (max-width: 767px) {
    header {
        padding: 0;
        flex-direction: column;
        justify-content: center;
        gap: 8px;
    }

    nav {
        display: flex;
        padding: 8px 16px;
        gap: 16px;
    }

    .secondary-button {
        font-size: 14px;
    }

    .main-button {
        font-size: 14px;
    }

    #links-container {
        margin-top: 130px;
        min-height: 100vw;
        padding: 16px 16px;
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
        align-self: stretch;
    }

    .h3-center {
        height: calc(100vh - 162px);
        font-size: 14px;
    }

    .div-link h2 {
        max-width: 100%;
        overflow-wrap: break-word;
        word-wrap: break-word;
        white-space: normal;
        overflow: visible;
        text-overflow: clip;
    }

    .div-div-link {
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
        align-self: stretch;
    }

    .div-link {
        max-width: calc(100% - 48px);
        padding: 8px 24px 4px 24px;
        gap: 0;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    .div-short-link {
        padding: 8px 0;
    }

    .svg {
        height: 18px;
        width: 18px;
    }

    .div-link:hover {
        background: #F3F3F3;
    }

    h2 {
        font-size: 14px;
    }

    h3 {
        font-size: 14px;
    }

    .h3-secondary {
        font-size: 14px;
    }

    .date {
        padding: 0 24px 16px 24px;
        color: #BBB;
        font-size: 14px;
        font-weight: 400;
    }

    #errorNotification {
        width: calc(100vw - 96px);
        align-self: stretch;
        font-size: 14px;
    }

    #successNotification {
        width: calc(100vw - 96px);
        align-self: stretch;
        font-size: 14px;
    }
}