<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Политика конфиденциальности</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="../static/css/documents.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <meta name="description" content="Политика конфиденциальности сервиса сокращения ссылок beetlink">
    <meta name="keywords" content="политика beetlink, политика конфиденциальности beetlink, beetlink privacy">
    <meta name="author" content="Andrey Avdeev">
    <link rel="icon" href="/images/favicon.svg" type="image/x-icon">
    <link rel="shortcut icon" href="/images/favicon.svg" type="image/x-icon">
</head>
<body>
<p>
    <strong>ПОЛИТИКА КОНФИДЕНЦИАЛЬНОСТИ</strong>
</p>
<br>
<p>
    <strong>1. ВВЕДЕНИЕ</strong>
</p>

<p>
    1.1. Данная политика конфиденциальности разработана Авдеевым Андреем Дмитриевичем для определения порядка сбора, использования и защиты персональной информации пользователей сервиса beetlink.ru (далее — Сервис).
</p>

<p>
    1.2. Владельцем и администратором Сервиса является Авдеев Андрей Дмитриевич. Для связи по вопросам конфиденциальности можно использовать адрес электронной почты: support@beetlink.ru.
</p>

<p>
    <strong>2. СБОР И ИСПОЛЬЗОВАНИЕ ИНФОРМАЦИИ</strong>
</p>

<p>
    2.1. При регистрации в Сервисе необходимо предоставить следующие данные:
    <br>
    - Адрес электронной почты.
</p>

<p>
    2.2. Сервис также автоматически собирает и обрабатывает информацию, предоставляемую пользователями в процессе использования Сервиса.
</p>

<p>
    2.3. Целью сбора адресов электронной почты является предоставление доступа к сервису, уведомления о статусе аккаунта, информирование об обновлениях и предложениях, а также рассылка рекламных материалов и таргетированной рекламы.
</p>

<p>
    <strong>3. ХРАНЕНИЕ И ЗАЩИТА ИНФОРМАЦИИ</strong>
</p>

<p>
    3.1. Персональная информация пользователей хранится в защищенной базе данных.
</p>

<p>
    3.2. Авдеев Андрей Дмитриевич обеспечивает конфиденциальность персональной информации и принимает все необходимые меры для предотвращения несанкционированного доступа, утечек или изменения данных.
</p>

<p>
    <strong>4. ПЕРЕДАЧА ИНФОРМАЦИИ ТРЕТЬИМ ЛИЦАМ</strong>
</p>

<p>
    4.1. Авдеев Андрей Дмитриевич не передает личные данные пользователей третьим лицам, за исключением случаев, предусмотренных законодательством.
</p>

<p>
    <strong>5. ИСПОЛЬЗОВАНИЕ ЯНДЕКС.МЕТРИКИ</strong>
</p>

<p>
    5.1. На сайте beetlink.ru используется Яндекс.Метрика для сбора информации о посещении сайта. Пользователь может отключить использование cookies в настройках своего браузера.
</p>

<p>
    <strong>6. ИЗМЕНЕНИЯ В ПОЛИТИКЕ КОНФИДЕНЦИАЛЬНОСТИ</strong>
</p>

<p>
    6.1. Авдеев Андрей Дмитриевич оставляет за собой право вносить изменения в настоящую политику конфиденциальности. Пользователи будут уведомлены об изменениях посредством оповещения на сайте или по электронной почте.
</p>

<p>
    <strong>7. ЗАКЛЮЧИТЕЛЬНЫЕ ПОЛОЖЕНИЯ</strong>
</p>

<p>
    7.1. Используя Сервис beetlink.ru, пользователь выражает согласие с условиями настоящей политики конфиденциальности.
</p>

<p>
    7.2. Вопросы и предложения по поводу политики конфиденциальности можно направлять по адресу support@beetlink.ru.
</p>

</body>
</html>