<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Пользовательское соглашение</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="../static/css/documents.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <meta name="description" content="Пользовательское соглашение сервиса сокращения ссылок beetlink">
    <meta name="keywords" content="соглашение beetlink, пользовательское соглашение beetlink, правила beetlink, beetlink terms">
    <meta name="author" content="Andrey Avdeev">
    <link rel="icon" href="/static/images/beetlink.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/static/images/beetlink.ico" type="image/x-icon">
</head>
<body>
<p>
    <strong>ПОЛЬЗОВАТЕЛЬСКОЕ СОГЛАШЕНИЕ</strong>
</p>
<br>
<p>
    <strong>1. ОПРЕДЕЛЕНИЕ ТЕРМИНОВ</strong>
</p>

<p>
    1.1. Владельцем и администратором сервиса beetlink.ru (далее — Сервис) является Авдеев Андрей Дмитриевич.
</p>

<p>
    1.2. "Пользователь" — физическое или юридическое лицо, использующее Сервис.
</p>

<p>
    <strong>2. РЕГИСТРАЦИЯ И АККАУНТ</strong>
</p>

<p>
    2.1. Для использования определенных функций Сервиса Пользователю может потребоваться регистрация и создание учетной записи (аккаунта).
</p>

<p>
    2.2. При регистрации Пользователь обязуется предоставить достоверную и актуальную информацию.
</p>

<p>
    2.3. Пользователь несет ответственность за сохранность своего пароля и аккаунта. В случае утери доступа к аккаунту, Пользователь обязуется незамедлительно уведомить Администрацию Сервиса.
</p>

<p>
    <strong>3. ИСПОЛЬЗОВАНИЕ СЕРВИСА</strong>
</p>

<p>
    3.1. Пользователь обязуется использовать Сервис в соответствии с законодательством и условиями настоящего Пользовательского Соглашения.
</p>

<p>
    3.2. Запрещено использование Сервиса для незаконных целей, в том числе, но не ограничиваясь, распространением вирусов, вредоносных программ, а также осуществление попыток несанкционированного доступа к данным других Пользователей.
</p>

<p>
    <strong>4. ИНТЕЛЛЕКТУАЛЬНАЯ СОБСТВЕННОСТЬ</strong>
</p>

<p>
    4.1. Все материалы, предоставляемые через Сервис, включая текст, графику, логотипы, изображения, принадлежат Авдееву Андрею Дмитриевичу и защищены законами об интеллектуальной собственности.
</p>

<p>
    <strong>5. ЗАКЛЮЧИТЕЛЬНЫЕ ПОЛОЖЕНИЯ</strong>
</p>

<p>
    5.1. Используя Сервис beetlink.ru, Пользователь соглашается с условиями настоящего Пользовательского Соглашения.
</p>

<p>
    5.2. Администрация Сервиса оставляет за собой право вносить изменения в настоящее соглашение. Пользователи будут уведомлены об изменениях посредством оповещения на сайте или по электронной почте.
</p>

<p>
    5.3. Все вопросы и предложения по поводу Пользовательского Соглашения можно направлять по адресу support@beetlink.ru.
</p>

</body>
</html>